<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Dicts aggregator</title>
</head>
<body>
    <section class="hero is-small is-primary mb-4">
        <div class="hero-body">
            <h2 class="title">Dictionaries aggregator</h2>
        </div>
    </section>

    <div id="content" class="container">
        <div class="columns">
        {% block content %}
            {% if user.is_authenticated %}
                <div class="column">
                    <p class="mb-4">Welcome, {{ user.username }}. Thanks for logging in. <a href={% url "logout" %}>Log out</a>.</p>
                    <form method="post" action={% url "search" %} class="mb-4">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <label class="label" for="{{ search_form.word.id_for_label }}">Word</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="Look up a word" id="{{ search_form.word.id_for_label }}" name="{{ search_form.word.name }}">
                            </div>
                            <div class="control">
                                <input type="submit" value="Search" class="button is-primary">
                            </div>
                        </div>
                        
                    </form>
                    <br>
                    <div class="column">
                    {% block search_result %}
                    {% endblock %}
                    </div>
                </div>
            {% else %}
                <p>Welcome, new user. Please <a href={% url "login" %}>log in</a> or <a href={% url "signup" %}>sign up</a>. </p>
            {% endif %}
        {% endblock %}
        </div>
    </div>
</body>
</html>