<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Dicts aggregator</title>
</head>
<body>
    <div id="content" class="container">
        <section class="hero is-small is-primary">
            <div class="hero-body">
                <h2 class="title">Dictionaries aggregator</h2>
                <div class="navbar-menu">
                    <div class="navbar-start">
                      <!-- navbar items -->
                    </div>
                  
                    <div class="navbar-end">
                      <!-- navbar items -->
                    </div>
                  </div>
            </div>
        </section>
        <div class="box">
        {% block content %}
            {% if user.is_authenticated %}
                <div>
                    <p class="mb-4">Welcome, {{ user.username }}. Thanks for logging in. <a href={% url "logout" %}>Log out</a>.</p>
                    <form method="post" action={% url "search" %} class="">
                        {% csrf_token %}
                        <div class="field">
                            <div class="label is-normal">
                                <label class="label mb-4" for="{{ search_form.word.id_for_label }}">Word</label>
                            </div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <p class="control">
                                    <input class="input" type="text" placeholder="Look up a word" id="{{ search_form.word.id_for_label }}" name="{{ search_form.word.name }}">
                                    </p>
                                    
                                    <p class="control">
                                        <input type="submit" value="Search" class="button is-primary">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div>
                    {% block search_result %}
                    {% endblock %}
                    </div>
                </div>
            {% else %}
                <p>Welcome, new user. Please <a href={% url "login" %}>log in</a> or <a href={% url "signup" %}>sign up</a>. </p>
            {% endif %}
        {% endblock %}
        </div>
    </div>
</body>
</html>